@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

@layer background {
  .bg-background-pattern {
    @apply bg-opacity-50 bg-gradient-to-tr from-black to-gray-900 text-white h-screen flex flex-col;
  }
}
